<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sprite_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,2},{158,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,240}}</string>
        <key>sourceSize</key>
        <string>{158,240}</string>
      </dict>
      <key>sprite_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,2},{167,209}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,209}}</string>
        <key>sourceSize</key>
        <string>{167,209}</string>
      </dict>
      <key>sprite_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,2},{167,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,206}}</string>
        <key>sourceSize</key>
        <string>{167,206}</string>
      </dict>
      <key>sprite_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,2},{165,203}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,203}}</string>
        <key>sourceSize</key>
        <string>{165,203}</string>
      </dict>
      <key>sprite_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,3},{166,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,240}}</string>
        <key>sourceSize</key>
        <string>{166,240}</string>
      </dict>
      <key>sprite_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,209},{126,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,253}}</string>
        <key>sourceSize</key>
        <string>{126,253}</string>
      </dict>
      <key>sprite_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,212},{126,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,254}}</string>
        <key>sourceSize</key>
        <string>{126,254}</string>
      </dict>
      <key>sprite_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,215},{126,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,253}}</string>
        <key>sourceSize</key>
        <string>{126,253}</string>
      </dict>
      <key>sprite_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,246},{126,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,252}}</string>
        <key>sourceSize</key>
        <string>{126,252}</string>
      </dict>
      <key>sprite_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,247},{165,241}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,241}}</string>
        <key>sourceSize</key>
        <string>{165,241}</string>
      </dict>
      <key>sprite_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,247},{127,241}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,241}}</string>
        <key>sourceSize</key>
        <string>{127,241}</string>
      </dict>
      <key>sprite_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,466},{126,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,252}}</string>
        <key>sourceSize</key>
        <string>{126,252}</string>
      </dict>
      <key>sprite_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,470},{126,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,252}}</string>
        <key>sourceSize</key>
        <string>{126,252}</string>
      </dict>
      <key>sprite_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,473},{126,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,253}}</string>
        <key>sourceSize</key>
        <string>{126,253}</string>
      </dict>
      <key>sprite_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,492},{147,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,244}}</string>
        <key>sourceSize</key>
        <string>{147,244}</string>
      </dict>
      <key>sprite_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,492},{126,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,253}}</string>
        <key>sourceSize</key>
        <string>{126,253}</string>
      </dict>
      <key>sprite_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,502},{126,241}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,241}}</string>
        <key>sourceSize</key>
        <string>{126,241}</string>
      </dict>
      <key>sprite_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,502},{125,241}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,241}}</string>
        <key>sourceSize</key>
        <string>{125,241}</string>
      </dict>
      <key>sprite_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,722},{126,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,252}}</string>
        <key>sourceSize</key>
        <string>{126,252}</string>
      </dict>
      <key>sprite_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,726},{126,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,252}}</string>
        <key>sourceSize</key>
        <string>{126,252}</string>
      </dict>
      <key>sprite_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,730},{126,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,253}}</string>
        <key>sourceSize</key>
        <string>{126,253}</string>
      </dict>
      <key>sprite_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,740},{141,248}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,248}}</string>
        <key>sourceSize</key>
        <string>{141,248}</string>
      </dict>
      <key>sprite_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,747},{126,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,252}}</string>
        <key>sourceSize</key>
        <string>{126,252}</string>
      </dict>
      <key>sprite_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,747},{126,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,252}}</string>
        <key>sourceSize</key>
        <string>{126,252}</string>
      </dict>
      <key>sprite_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,749},{133,246}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,246}}</string>
        <key>sourceSize</key>
        <string>{133,246}</string>
      </dict>
      <key>sprite_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,978},{126,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,252}}</string>
        <key>sourceSize</key>
        <string>{126,252}</string>
      </dict>
      <key>sprite_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,982},{126,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,252}}</string>
        <key>sourceSize</key>
        <string>{126,252}</string>
      </dict>
      <key>sprite_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,992},{133,249}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,249}}</string>
        <key>sourceSize</key>
        <string>{133,249}</string>
      </dict>
      <key>sprite_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,999},{130,241}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,241}}</string>
        <key>sourceSize</key>
        <string>{130,241}</string>
      </dict>
      <key>sprite_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,1003},{128,249}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,249}}</string>
        <key>sourceSize</key>
        <string>{128,249}</string>
      </dict>
      <key>sprite_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,1003},{126,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,253}}</string>
        <key>sourceSize</key>
        <string>{126,253}</string>
      </dict>
      <key>sprite_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,1003},{126,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,253}}</string>
        <key>sourceSize</key>
        <string>{126,253}</string>
      </dict>
      <key>sprite_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,1234},{126,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,250}}</string>
        <key>sourceSize</key>
        <string>{126,250}</string>
      </dict>
      <key>sprite_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,1238},{125,247}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,247}}</string>
        <key>sourceSize</key>
        <string>{125,247}</string>
      </dict>
      <key>sprite_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1245},{126,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,253}}</string>
        <key>sourceSize</key>
        <string>{126,253}</string>
      </dict>
      <key>sprite_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,1245},{126,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,253}}</string>
        <key>sourceSize</key>
        <string>{126,253}</string>
      </dict>
      <key>sprite_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,1257},{128,243}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,243}}</string>
        <key>sourceSize</key>
        <string>{128,243}</string>
      </dict>
      <key>sprite_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,1260},{126,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,240}}</string>
        <key>sourceSize</key>
        <string>{126,240}</string>
      </dict>
      <key>sprite_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,1260},{125,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,244}}</string>
        <key>sourceSize</key>
        <string>{125,244}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>atlas.png</string>
      <key>size</key>
      <string>{932,1506}</string>
      <key>textureFileName</key>
      <string>atlas</string>
    </dict>
  </dict>
</plist>
