<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sprite_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,0},{146,359}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,359}}</string>
        <key>sourceSize</key>
        <string>{146,359}</string>
      </dict>
      <key>sprite_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{175,359}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,359}}</string>
        <key>sourceSize</key>
        <string>{175,359}</string>
      </dict>
      <key>sprite_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,2},{184,355}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{184,355}}</string>
        <key>sourceSize</key>
        <string>{184,355}</string>
      </dict>
      <key>sprite_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,2},{147,355}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,355}}</string>
        <key>sourceSize</key>
        <string>{147,355}</string>
      </dict>
      <key>sprite_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,2},{136,355}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,355}}</string>
        <key>sourceSize</key>
        <string>{136,355}</string>
      </dict>
      <key>sprite_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,2},{147,353}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,353}}</string>
        <key>sourceSize</key>
        <string>{147,353}</string>
      </dict>
      <key>sprite_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{962,2},{164,353}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,353}}</string>
        <key>sourceSize</key>
        <string>{164,353}</string>
      </dict>
      <key>sprite_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1130,2},{156,351}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,351}}</string>
        <key>sourceSize</key>
        <string>{156,351}</string>
      </dict>
      <key>sprite_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1290,2},{151,349}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,349}}</string>
        <key>sourceSize</key>
        <string>{151,349}</string>
      </dict>
      <key>sprite_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1445,2},{235,338}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,338}}</string>
        <key>sourceSize</key>
        <string>{235,338}</string>
      </dict>
      <key>sprite_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1423,355},{227,339}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{227,339}}</string>
        <key>sourceSize</key>
        <string>{227,339}</string>
      </dict>
      <key>sprite_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1211,356},{208,349}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{208,349}}</string>
        <key>sourceSize</key>
        <string>{208,349}</string>
      </dict>
      <key>sprite_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,358},{156,350}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,350}}</string>
        <key>sourceSize</key>
        <string>{156,350}</string>
      </dict>
      <key>sprite_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,359},{192,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,352}}</string>
        <key>sourceSize</key>
        <string>{192,352}</string>
      </dict>
      <key>sprite_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,361},{160,355}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,355}}</string>
        <key>sourceSize</key>
        <string>{160,355}</string>
      </dict>
      <key>sprite_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,361},{167,353}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,353}}</string>
        <key>sourceSize</key>
        <string>{167,353}</string>
      </dict>
      <key>sprite_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,363},{206,355}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,355}}</string>
        <key>sourceSize</key>
        <string>{206,355}</string>
      </dict>
      <key>sprite_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,365},{161,359}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,359}}</string>
        <key>sourceSize</key>
        <string>{161,359}</string>
      </dict>
      <key>sprite_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,365},{136,358}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,358}}</string>
        <key>sourceSize</key>
        <string>{136,358}</string>
      </dict>
      <key>sprite_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1222,709},{148,349}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,349}}</string>
        <key>sourceSize</key>
        <string>{148,349}</string>
      </dict>
      <key>sprite_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{1374,709},{205,348}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{205,348}}</string>
        <key>sourceSize</key>
        <string>{205,348}</string>
      </dict>
      <key>sprite_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,715},{181,351}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,351}}</string>
        <key>sourceSize</key>
        <string>{181,351}</string>
      </dict>
      <key>sprite_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1044,715},{174,349}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,349}}</string>
        <key>sourceSize</key>
        <string>{174,349}</string>
      </dict>
      <key>sprite_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,720},{144,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,354}}</string>
        <key>sourceSize</key>
        <string>{144,354}</string>
      </dict>
      <key>sprite_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,720},{185,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{185,352}}</string>
        <key>sourceSize</key>
        <string>{185,352}</string>
      </dict>
      <key>sprite_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,722},{183,355}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{183,355}}</string>
        <key>sourceSize</key>
        <string>{183,355}</string>
      </dict>
      <key>sprite_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,728},{153,359}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,359}}</string>
        <key>sourceSize</key>
        <string>{153,359}</string>
      </dict>
      <key>sprite_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,728},{171,358}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{171,358}}</string>
        <key>sourceSize</key>
        <string>{171,358}</string>
      </dict>
      <key>sprite_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{1339,1062},{208,348}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{208,348}}</string>
        <key>sourceSize</key>
        <string>{208,348}</string>
      </dict>
      <key>sprite_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{1175,1069},{160,350}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,350}}</string>
        <key>sourceSize</key>
        <string>{160,350}</string>
      </dict>
      <key>sprite_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{996,1070},{175,350}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,350}}</string>
        <key>sourceSize</key>
        <string>{175,350}</string>
      </dict>
      <key>sprite_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1077},{192,351}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,351}}</string>
        <key>sourceSize</key>
        <string>{192,351}</string>
      </dict>
      <key>sprite_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,1078},{137,353}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,353}}</string>
        <key>sourceSize</key>
        <string>{137,353}</string>
      </dict>
      <key>sprite_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,1081},{135,355}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,355}}</string>
        <key>sourceSize</key>
        <string>{135,355}</string>
      </dict>
      <key>sprite_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,1081},{156,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,354}}</string>
        <key>sourceSize</key>
        <string>{156,354}</string>
      </dict>
      <key>sprite_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1089},{153,361}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,361}}</string>
        <key>sourceSize</key>
        <string>{153,361}</string>
      </dict>
      <key>sprite_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,1090},{197,356}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,356}}</string>
        <key>sourceSize</key>
        <string>{197,356}</string>
      </dict>
      <key>sprite_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{1380,1414},{228,334}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{228,334}}</string>
        <key>sourceSize</key>
        <string>{228,334}</string>
      </dict>
      <key>sprite_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{1207,1423},{168,346}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,346}}</string>
        <key>sourceSize</key>
        <string>{168,346}</string>
      </dict>
      <key>sprite_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,1425},{191,344}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,344}}</string>
        <key>sourceSize</key>
        <string>{191,344}</string>
      </dict>
      <key>sprite_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,1436},{266,324}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,324}}</string>
        <key>sourceSize</key>
        <string>{266,324}</string>
      </dict>
      <key>sprite_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,1440},{243,326}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,326}}</string>
        <key>sourceSize</key>
        <string>{243,326}</string>
      </dict>
      <key>sprite_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,1450},{232,319}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{232,319}}</string>
        <key>sourceSize</key>
        <string>{232,319}</string>
      </dict>
      <key>sprite_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1454},{253,311}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{253,311}}</string>
        <key>sourceSize</key>
        <string>{253,311}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>man_atlas.png</string>
      <key>size</key>
      <string>{1682,1771}</string>
      <key>textureFileName</key>
      <string>man_atlas</string>
    </dict>
  </dict>
</plist>

